* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-1 {
  background-color: #f1f1f1;
}

.section-2 {
  background-color: #a1a1a1;
}

.section-3 {
  background-color: #b1b1b1;
}

.note-tab {
  width: 250px;
  height: 250px;
  background-color: #fff;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.note_tab_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.note_body {
  width: 100%;
  height: calc(100% - 80px);
  background-color: white;
  position: relative;
  z-index: 1;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

ul {
  padding-left: 50px;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 8px 5px;
  cursor: auto;
  
}

button {
  border: none;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.editor {
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
  height: 100%;
  cursor: text;
}
