* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-1 {
  background-color: #f1f1f1;
}

.section-2 {
  background-color: #a1a1a1;
}

.section-3 {
  background-color: #b1b1b1;
}

.note-tab {
  width: 200px;
  height: 200px;
  background-color: rgb(129, 122, 129);
  border-radius: 10px;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.note_tab_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.note_body {
  width: 100%;
  height: 100%;
  background-color: rgb(12, 122, 129);
  position: relative;
  z-index: 1;  
  overflow-y: auto;
  padding-top: 10px;
}
.note_textarea {
  width: calc(100% - 30px);
  height: 100%;
  background-color: rgb(12, 122, 129);
  position: relative;
  left: 20px;
  z-index: 1;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  color: white;
  cursor: text;

}
